@charset "utf-8";
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: orange;
    padding-left: 150px;
    padding-right: 150px;
    /* position: sticky;
    top: 0; */
}

main {
    margin-left: 150px;
    margin-right: 350px;
}

ul,
ol {
    border: 1px solid red;
    list-style-position: inside;
}

li {
    border: 1px solid blue;
    line-height: 1.7;
    padding-left: 8px;
}

h1 {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 10px;
}

h2 {
    border-bottom: 5px solid orange;
    margin: 30px 0 30px;
    padding: 7px;
}

p {
    line-height: 1.9;
    margin-bottom: 10px;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: monospace, Courier;
    padding: 0 3px;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
}

td {
    background-color: #ddd;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header-nav-item {
    margin: 5px;
    padding: 10px;
}

@media (max-width: 600px) {
    header {
        padding: 0;
    }

    h1 {
        color: yellow;
    }
    
    main {
        margin: 0;
    }
}